:root {
  --color-Orange: hsl(25, 97%, 53%);
  --color-White: hsl(0, 0%, 100%);
  --color-Light-Grey: hsl(217, 12%, 63%);
  --color-Dark-Blue: hsl(213, 19%, 18%);
  --color-Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Overpass", sans-serif;
  box-sizing: border-box;
  font-size: 15px;
  background-color: var(--color-Very-Dark-Blue);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background: linear-gradient(
    180deg,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 0.4) 100%
  );
  width: 356px;
  border-radius: 30px;
  padding: 30px;
}

.icon > img {
  background-color: var(--color-Dark-Blue);
  padding: 15px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.heading {
  font-size: 28px;
  color: var(--color-White);
  font-weight: bold;
}

.sub_heading {
  color: var(--color-Light-Grey);
  line-height: 1.5em;
  margin-top: 15px;
}

.rating {
  margin-top: 24px;
  color: var(--color-Light-Grey);
  display: flex;
  gap: 22px;
  justify-content: space-between;
}

.rate {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  background-color: var(--color-Dark-Blue);
  height: 51px;
  width: 51px;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
}

.rate:hover {
  background-color: var(--color-Orange);
  color: black;
  cursor: pointer;
}

.rate.active {
  background-color: var(--color-White);
  color: black;
}

button {
  margin-top: 32px;
  width: 100%;
  height: 45px;
  border-radius: 22px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  background-color: var(--color-Orange);
  color: var(--color-Dark-Blue);
}

button:hover {
  background-color: var(--color-White);
  cursor: pointer;
}

#submit__ui {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rating_count {
  margin: 32px 0;
  color: var(--color-Orange);
  line-height: 24px;
  background-color: var(--color-Dark-Blue);
  padding: 10px 30px;
  border-radius: 55px;
  width: fit-content;
  display: inline-block;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 375px) {
  .wrapper {
    margin: 20px;
  }
}
