:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-pink: hsl(275, 100%, 97%);
  --color-greyish-purple: hsl(292, 16%, 49%);
  --color-purple: hsl(292, 42%, 14%);
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Work Sans", sans-serif;
}

body {
  font-size: 16px;
  background-color: var(--color-light-pink);
}

.container {
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  height: 565px;
  width: 600px;
  border-radius: 16px;
  padding: 40px;
  background-color: var(--color-white);
  /* TODO: add box shadow */
}

.heading {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 0 24px 0;
}

.heading__title {
  font-size: 56px;
  font-weight: bold;
  color: var(--color-purple);
}

.list__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__heading {
  font-size: 18px;
  color: var(--color-purple);
  font-weight: 700;
}

.list__heading:hover {
  color: #ad28eb;
  cursor: pointer;
}

.list__body {
  margin: 18px 0px;
  color: var(--color-greyish-purple);
  line-height: 2em;
  text-align: justify;
}

.separator {
  margin: 24px 0px;
  border-bottom: 1px solid var(--color-light-pink);
}

.list__body.active {
  height: 100px;
  position: relative;
}

.list__body {
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.list__toggle {
  cursor: pointer;
}

img[alt="toggle icon"].active {
  display: block;
}

img[alt="toggle icon"] {
  display: none;
}

/* When the browser is at least 600px and above */
@media only screen and (max-width: 495px) {
  .container {
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .wrapper {
    margin: 10px;
    height: 665px;
    width: 600px;
    padding: 24px;
  }

  .heading__title {
    font-size: 32px;
  }

  .list__body.active {
    height: 190px;
  }

  .list__heading {
    font-size: 16px;
    color: var(--color-purple);
    font-weight: 600;
  }

  .list__toggle {
    margin: 0 20px;
  }
}
