/* Element classes */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
}

h1 {
  padding-bottom: 16px;
}

ul > li {
  padding: 16px 0 16px 0;
  list-style-position: inside;
}

h1 > img {
  padding-right: 12px;
}

/* CSS Classes */
.container {
  width: 65%;
  margin: auto;
  padding: 16px;
}

/* CSS IDs */

.card {
  margin: 20px 25px 0 0;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  width: 350px;
  display: inline-block;
  height: 250px;
  min-height: 250px;
  border: 5px solid;
  border-image-source: linear-gradient(
    45deg,
    rgb(143, 0, 88),
    rgb(66, 140, 250)
  );
  border-image-slice: 1;
}

.card-body {
  padding: 20px;
}

.card img {
  border: 2px solid lightblue;
  border-radius: 50px;
}

.heading {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.description {
  height: 75px;
  text-align: justify;
  /* Single line ellipsis */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.card-footer {
  padding: 10px 0 0 20px;
  border-top: 1px solid hsl(0, 0%, 59%, 0.3);
  display: flex;
  justify-content: space-between;
  order: 2;
  flex-wrap: wrap;
}

.card-footer p:first-child {
  color: hsl(0, 0%, 59%);
}

.card-footer button.btn {
  border: none;
  background: #fff;
  border-radius: 55px;
  margin: 0 20px 0 0;
  padding: 5px;
  width: 80px;
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
  outline: 0;
}

/* Utility Classes */
.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pb-5 {
  padding-bottom: 5px;
}

/* Portrait */
@media screen and (max-width: 460px) and (orientation: portrait) {
  .container {
    width: 100%;
  }
  .card {
    width: 100%;
    height: 270px;
  }
}
