/* Element classes */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
}

h1 {
    padding-bottom: 16px;
}

ul > li {
    padding: 16px 0 16px 0;
    list-style-position: inside;
}

h1 > img {
    padding-right: 12px;
}

/* CSS Classes */
.container {
    width: 65%;
    margin: auto;
    padding: 16px;
}

a {
    text-decoration: none;
    transition: font-weight 100ms ease;
}

a:hover {
    font-weight: 800;
    text-rendering: optimizeSpeed;
}



/* CSS IDs */


/* Utility Classes */
.mb-3 {
    margin-bottom: 3px;
}


.mb-5 {
    margin-bottom: 5px;
}

.pb-3 {
    padding-bottom: 3px;
}

.pb-5 {
    padding-bottom: 5px;
}