*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-color: hsl(185, 75%, 39%);
  background-repeat: no-repeat, no-repeat;
  background-position: top -150px left -50px, bottom -200px right -150px;
  background-size: 650px, 650px;
  background-attachment: fixed, fixed;
}

/* Classes */

.attribution {
  margin-top: 50px;
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 100%, 28%);
}

.card {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 320px;
  border-radius: 20px;

  filter: drop-shadow(0px 50px 100px hsl(197, 84%, 20%, 50.48%));
}

.card > .cover {
  background: url(./images/bg-pattern-card.svg) repeat-x;
  height: 140px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
}

.card > .details {
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
}

.profile-image {
  height: 160px;
}

.profile-image > img {
  border-radius: 50px;
  border: 5px #fff solid;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-image > p {
  position: relative;
  top: -60px;
  text-align: center;
}

.details > .user-details {
  border-top: 1px solid hsl(0, 0%, 59%, 0.3);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.details > .user-details > p {
  margin: 0px 20px;
  font-size: 18px;
}

.details > .user-details > p > span {
  display: block;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin: 5px 0 0 0;
}

/* Utility classes */

.text-bold {
  font-weight: bold;
  font-size: 18px;
}

.text-muted {
  font-weight: normal;
  color: hsl(0, 0%, 59%);
}

.mt-24 {
  margin-top: 24px;
}

.mt-8 {
  margin-top: 8px;
}

/* When the browser is at least 600px and above */
@media screen and (max-width: 375px) {
  body {
    background-position: top -140px left -140px, bottom -140px right -140px;
    background-size: 450px, 450px;
  }
}
