body {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-image: url("./assets/bg-main-desktop.png"),
    url("./assets/bg-pattern-1.svg");
  background-repeat: repeat, no-repeat;
  background-size: contain, auto;
  background-position: top -100px left -120px, top -50px right;
}

.pattern-2 {
  background-image: url("./assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
}

/* When the browser is at least 600px and above */
@media screen and (max-width: 768px) {
  body {
    background-image: url("./assets/bg-main-tablet.png"),
      url("./assets/bg-pattern-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 120px;
    background-position: top left, top -50px right;
  }
}

@media screen and (max-width: 375px) {
  body {
    background-image: url("./assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
  }

  .pattern-2 {
    background-image: url("./assets/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
  }
}
